.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-family: Whitney,"Trebuchet MS",Arial,sans-serif;
}

