.header {
  height: 40px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-family: Whitney,"Trebuchet MS",Arial,sans-serif;
}

.logo {
  width: 25%;
  padding-top: 7px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav-item {
  margin: 0 10px;
}

.upload-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #74AC00;
  border: solid #74ac00;
  color: white;
  border-radius: 100px;
  text-align: center;
  outline: none;
}