.home-main {
  width: 75vw;
  margin: auto;
}

.main-margins {
  margin-top: 70px;
  margin-bottom: 80px;
}

.home-feed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}