.session-container-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}


.session-img {
  width: 55%;
  height: 100%;
  background-color: azure;
}
 
.session-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

.session-form {
  width: 60%;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8f0fe;
  border-radius: 7px;
}

.input {
  border: 1px solid #e8f0fe;
  background-color: inherit;
  color: #666;
  font-size: 15px;
  font-weight: 100;
  outline: none;
  width: 85%;
}

.session-form-submit {
  cursor: pointer;
  background-color: #74ac00;
  color: white;
  border: solid #74ac00;
  width: 100%;
  font-weight: bold;
  margin: 20px 0;
  padding: 5px 0;
  font-size: 20px;
  border-radius: 100px;
  text-align: center;
}

.session-form-submit:hover {
  filter: brightness(110%)
}

.login-message, .signup-message {
  font-size: 28px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 40px 0;
}

.icon {
  // margin-top: 3px;
  // margin-bottom: -1px;
  height: 20px;
  color: #74ac00;
  padding: 5px;
}