.item-container {
  width: fit-content;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 9px 1px #cccccc;
  margin: 30px;
}
.item-img-container {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 30px;
}

.item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-title {
  padding: 5px;
  margin-top: -10px;
}

.obs-index-head {
  display: flex;
  justify-content: space-around;
  font-size: 36px;
  margin: 20px 0;
}