.splash-main {
  background-color: #eaf3d8;
  display: block;
}


// * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

/* Hide the images by default */
.mySlides {
}

.slide-img {
  max-width:100%;
  height: 500px;
  clip: rect(0px,60px,200px,0px)
}

.slide1 {
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -40px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: 0.3s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  text-shadow: 0 0 9px black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  h2 {font-size: 36px; margin-bottom: 30px; font-weight: bold;}
  h3 {font-size: 22px; font-weight: bold;}
}

.section-sponsers {
  background-color: #74AC00;
}

.sponsers {
  width: 80%;
  margin: auto;
  p {
    padding: 20px 60px;
    color: white;
    font-size: 14px;
  }
}

.how-it-works {
  background-color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
  h2 {font-size: 36px;}
  p {font-size: 24px;}
}

.space-around {
  justify-content: space-around;
}

.section-row {
  flex-direction: column;
}

.contribute, .waiting {
  background-color: #000000;
  color: white;
  flex-direction: row;
  padding: 40px 0;
  * {color: white;}
}

.contribute-text {
  padding: 20px;
  text-align: center;
}

.half {
  width: 50%;
}

.who-uses {
  background-color: #EEEEEE;
}

.nature {
  padding: 40px 20px;
  h3 {padding-bottom: 10px;}
}

.nature-text {
  max-width: 30%;
}

.svg-img {
  max-width: 100px;
  max-height: 80px;
  padding: 40px 20px;
}

.join-button {
  cursor: pointer;
  background-color: #74ac00;
  color: white;
  border: solid #74ac00;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 100px;
  text-align: center;
}

.join-button:hover {
  filter: brightness(110%);
  outline: none;
}

.waiting {
  h2 {margin: 0;}
}