.user-index {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.space-between {
  display: flex;
  justify-content: space-between
}